:root{
    --p-color: #231f20;
    --p-light: #4b4647;
    --p-dark: #282312;
    --p-accent: #DBB07C;
    --p-accent-light: #f0c086;
    --p-accent-dark: #c9a273;

    --light: #f8f9fa;
    --dark: #343a40;
    --pink: #f9c1b4;
}

.nb{
    background-color: var(--p-dark) !important;
}

body {
  font-family: 'noto_serif_dispregular';
}

.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    background-image: url("../assets/img/front.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .masthead {
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
    }
    
  }

.mx-9 {
  margin-right: 12rem !important;
  margin-left: 6rem !important;
}

.px-9 {
  padding-right: 12rem !important;
  padding-left: 6rem !important;
}

.pe-9 {
  padding-right: 12rem !important;
}

.page-section {
  padding: 6rem 0;
  background-color: var(--light);
}

.sub-hr{
  background-color: var(--p-accent); 
  height: 0.15rem !important; 
  width: 100px; 
  opacity: 1;
  margin-right: auto !important;
  margin-left: auto !important;
}

.section-services {
  background-color: var(--p-dark);
}

.section-about{
  background-image: url("../assets/img/stof.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-about{
  background-color: var(--p-dark);
}

.section-testimonials{
  background-color: white;
}

.section-contact{
  background-image: url("../assets/img/stof.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.section-footer{
  background-color: var(--p-dark);
}

.xxsmall {
  font-size: 0.75em;
}

.xsmall{
  font-size: 0.825em;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: var(--p-accent-light);
}

.accordion-button:focus {
  z-index: 3;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.h5{
  color: #6a6969;
}

.h5-light{
  color: var(--light);
}

.nr-services{
  color: var(--p-accent);
}

.quote{
  width: 20px;
}

.pricing-card{
  background-color: #ffd569;
}

.pricing-card-2{
  background-color: #fb9e78;
}

.btn-contact{
  font-size: 0.825em;
  font-family: 'Roboto Mono', monospace;
}

.hyp-link{
  font-family: 'noto_serif_dispregular';
  text-decoration: none;
  color: var(--p-dark);
}

.hyp-link:hover {
  color: var(--p-accent);
}

.hyp-link-dark{
  text-decoration: none;
  color:var(--p-accent-light);
}

.hyp-link-dark:hover{
  text-decoration: none;
  font-weight: 500;
  color:var(--p-accent);
}

.hyp-link-foot{
  text-decoration: none;
  color: #ccc;
}

.h-one{
  font-family: 'noto_serif_dispregular';
  font-weight: 400;
  text-align: center !important;
  margin-top: 0.25rem !important;
}

.icon-size{
  width: 50px;
}

.h-main{
  font-family: 'noto_serif_dispregular';
  font-weight: 600;
}

.btn-yun {
  color: #000;
  background-color: var(--p-accent);
  border-color: var(--p-accent);
}
.btn-yun:hover {
  color: #000;
  background-color: var(--p-accent-light);
  border-color: var(--p-accent-dark);
}
.btn-check:focus + .btn-yun, .btn-yun:focus {
  color: #000;
  background-color: var(--p-accent-light);
  border-color: var(--p-accent-dark);
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-check:checked + .btn-yun, .btn-check:active + .btn-yun, .btn-yun:active, .btn-yun.active, .show > .btn-yun.dropdown-toggle {
  color: #000;
  background-color: var(--p-accent-light);
  border-color: var(--p-accent-dark);
}
.btn-check:checked + .btn-yun:focus, .btn-check:active + .btn-yun:focus, .btn-yun:active:focus, .btn-yun.active:focus, .show > .btn-yun.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-yun:disabled, .btn-yun.disabled {
  color: #000;
  background-color: var(--p-accent);
  border-color: var(--p-accent);
}

.btn-outline-yun {
  color: var(--p-accent);
  border-color: var(--p-accent);
}
.btn-outline-yun:hover {
  color: #000;
  background-color: var(--p-accent);
  border-color: var(--p-accent);
}
.btn-check:focus + .btn-outline-yun, .btn-outline-yun:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-check:checked + .btn-outline-yun, .btn-check:active + .btn-outline-yun, .btn-outline-yun:active, .btn-outline-yun.active, .btn-outline-yun.dropdown-toggle.show {
  color: #000;
  background-color: var(--p-accent);
  border-color: var(--p-accent);
}
.btn-check:checked + .btn-outline-yun:focus, .btn-check:active + .btn-outline-yun:focus, .btn-outline-yun:active:focus, .btn-outline-yun.active:focus, .btn-outline-yun.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-outline-yun:disabled, .btn-outline-yun.disabled {
  color: var(--p-accent);
  background-color: transparent;
}
