:root{
    --p-color: #231f20;
    --p-light: #4b4647;
    --p-dark: #212529;

    --light: #f8f9fa;
    --dark: #343a40;
    --pink: #f9c1b4;

    --accent: #ffc107;
}

.nb{
    background-color: var(--p-dark) !important;
}

body {
  background-color: grey;
  font-family: 'Work Sans', sans-serif;
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/img/front.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
    }
    
  }

.mx-9 {
  margin-right: 12rem !important;
  margin-left: 6rem !important;
}

.px-9 {
  padding-right: 12rem !important;
  padding-left: 6rem !important;
}

.pe-9 {
  padding-right: 12rem !important;
}

.page-section {
  padding: 6rem 0;
  background-color: var(--light);
}

.sub-hr{
  background-color: var(--accent); 
  height: 0.15rem !important; 
  width: 100px; 
  opacity: 1;
  margin-right: auto !important;
  margin-left: auto !important;
}

.section-services {
  background-color: var(--p-dark);
}

.section-about{
  background-image: url("../assets/img/stof.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-about{
  background-color: var(--p-dark);
}

.section-testimonials{
  background-color: white;
}

.section-contact{
  background-color: var(--light);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23343a40' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.section-footer{
  background-color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f8f9fa' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.xxsmall {
  font-size: 0.75em;
}

.xsmall{
  font-size: 0.825em;
}

.accordion-button:not(.collapsed) {
  color: #664d03;
  background-color: #fff3cd;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.h5{
  color: #6a6969;
}

.h5-light{
  color: var(--light);
}

.nr-services{
  color: var(--accent);
}

.quote{
  width: 20px;
}

.pricing-card{
  background-color: #ffd569;
}

.pricing-card-2{
  background-color: #fb9e78;
}

.btn-contact{
  font-size: 0.825em;
  font-family: 'Roboto Mono', monospace;
}

.hyp-link{
  text-decoration: none;
  font-weight: 500;
}

.hyp-link-dark{
  text-decoration: none;
  font-weight: 500;
  color:#fff3cd;
}

.hyp-link-foot{
  text-decoration: none;
  color: #ccc;
}

.h-one{
  font-weight: 400;
  text-align: center !important;
  margin-top: 0.25rem !important;
}

.icon-size{
  width: 50px;
}